.Rproj.user
.Rhistory
.RData
.Ruserdata
Environmental_Variables/*
Figures/*
Summaries/*
Results/*
Scripts/Other/*
Data/RData
Data/*RData
Data/environmental_data_compiled.RData
Data/Climate_Data/*
Data/Soil_Data/*
*.e[0-9]*
*.o[0-9]*
Rplots.pdf
Scripts/Predictions/CrossValidation/cv_starting_material_sample.RData
Scripts/Predictions/CrossValidation/cv_starting_material.RData